:root {
  --primaryColor: rgb(0 67 104);
  --secondaryColor: rgb(203 120 98);
  --thirdaryColor: rgb(132 124 123);
  --fourColor: rgb(230 223 207);
  --black: rgb(0 0 0);
  --white: rgb(255 255 255);
}